#canvas {
    border: 1px solid #d3d3d3;
}

#settings {
    display: inline;
    position: absolute;
    margin-left: 10px;
}

.settings-section {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2em;
}

#sentence {
    width: 400px;
    height: 200px;
    margin-top: 2em;
}